<div class="header">
    <img class="header__logo" src="https://cdn.freebiesupply.com/logos/large/2x/netflix-2-logo-png-transparent.png"
        alt="" >
    <div class="header__left-menu">
        <ul>
            <li class="menu-1">Home</li>
            <li class="menu-2">TV Shows</li>
            <li class="menu-3">Movies</li>
            <li class="menu-4">New & Popular</li>
            <li class="menu-5">My List</li>
        </ul>
    </div>
    <div class="header__right-menu">
        <ul>
            <li class="menu-1"><mat-icon>search</mat-icon></li>
            <li class="menu-2">Children</li>
            <li class="menu-3">notify</li>
            <li class="menu-4">account</li>
        </ul>
    </div>
</div>