<div class="thumbnail">
    <img src="https://assets.netflixable.com/external_assets/sggkh+%5B%5Blxx*9*7515*7813_8_muochl_mvg%5Bwmn%5Bzkr%5Be3%5BC805vQhtDYWV7zJyzMwnXCTFK*B%5BZZZZYxRgLaqQEEJ3kKl4GkdTjBk*%5Dj*uNmi04WYz8E2A%5Dv%5DrtCdKz8GGaI6ThRptCLnjPPiJZZn7rLnjOypUpBxld7IWQzp.jpg"
         alt=""
         class="thumbnail__img">
    <div class="thumbnail__details">
        <div class="thumbnail__icons">button*4.</div>
        <div class="thumbnail__rating-seasons"></div>
        <span class="thumbnail__category-type"></span>
    </div>
</div>